<settings>
    <!-- HR Cap Setting (BPM) -->
    <setting propertyKey="@Properties.hrCapBpm" title="@Strings.HrCapTitle">
        <settingConfig type="numeric" min="100" max="220" />
    </setting>
    
    <!-- Goal Mode Setting -->
    <setting propertyKey="@Properties.goalMode" title="@Strings.GoalModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.GoalModeDrill</listEntry>
            <listEntry value="1">@Strings.GoalModeHybrid</listEntry>
            <listEntry value="2">@Strings.GoalModeCombat</listEntry>
        </settingConfig>
    </setting>
    
    <!-- Z1 Target Minutes -->
    <setting propertyKey="@Properties.z1TargetMin" title="@Strings.Z1TargetTitle">
        <settingConfig type="numeric" min="60" max="600" />
    </setting>
</settings>